### Stroke prediction dataset

Kei Sato

March, 2021

#### Project overview
For this project, we want to use labeled data from patients to predict if the person will have a stroke.  To build the model, I am using a data set of 5,110 records, with the following attributes: gender, age, if they have hypertension, if they have heart disease, ever married, work type, residence type, average glucose level, bmi, and smoking status.  Each data point is assigned a score of 0 or 1 to indicate, respectively, whether or not that person had a stroke.
 

#### Metrics used
We will use accuracy as the main metric used to determine if the model is successful.  But, throughout the model training and cross validation, the proportion of false positives for both classes will be monitored.

In [6]:
import pandas as pd

data = pd.read_csv('resources/stroke-data.csv')
print(data.shape)
data.head()

(5110, 12)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [66]:
# split/prep data

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import numpy as np

test_data = data.copy(deep=True)

for label in ["gender", "ever_married", "work_type", "Residence_type", "smoking_status"]:
    test_data[label] = LabelEncoder().fit(test_data[label].values).transform(test_data[label])

# account for nan in BMI column
bmi_avg = test_data["bmi"].mean()
test_data["bmi"] = test_data["bmi"].replace(np.nan, bmi_avg)
    
x_train, x_test, y_train, y_test = train_test_split(
    test_data.drop(["id", "stroke"], axis=1),
    test_data["stroke"],
    test_size=0.3,
    random_state=42
)

# x_train.head()

False

In [67]:
from sklearn.cluster import KMeans

kmeans = KMeans(n_clusters=2, random_state=42).fit(x_train)